.box50 {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
/* CSS admin */
.homead{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    
    
}
a{
    color: black;
}

/* dmad css trang danh mục  */
.dmad{
    border: 1px solid gray;
    height: 370px;
    border-top: none;
    padding: 35px;
    border-radius: 5px;
    
}
.frmtitle h6{
    color: tomato;
    font-weight: 700;
    font-size: 20px;
}
.dmad .ip{
    margin-top: 10px;
}
.dmad .ip>input{
    width: 500px;
    margin-top: 10px;
    border-radius: 5px;
    height: 45px;
}
.dmad .button input[type="submit"], .dmad .button input[type="reset"], .dmad .button input[type="button"]{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    
}
.dmad .button input[type="submit"]{
    background-color: aquamarine;
    color: brown;
}
.dmad .button input[type="reset"]{
    background-color: rgb(255, 0, 0);
}
.dmad .button input[type="button"]{
    background-color: blue;
}